DATABASE_URL=*
NODE_ENV=*
PORT=*
ALLOWED_ORIGINS=*
BASE_URL=*
FRONTEND_URL=*

# Google OAuth
GOOGLE_CLIENT_ID=*
GOOGLE_CLIENT_SECRET=*
GOOGLE_CALLBACK_URL=*

# OpenAI
OPENAI_API_KEY=*

# Supabase Storage
SUPABASE_URL=*
SUPABASE_SERVICE_KEY=*

# Groq (audio transcription)
GROQ_API_KEY=*

# Email Config
RESEND_API_KEY=*
EMAIL_FROM=*